---
import ClientComponent from '../components/ClientComponent.jsx';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Astro Component Test</title>
</head>

<body>
	<h1>Astro Component Tests: <pre>client:visible</pre></h1>
	<div>Scroll down to see the client component</div>
	<div style="font-size: 1000px">↓</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
  <ClientComponent client:visible />
</body>

</html>
