---
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Astro Component Test</title>
</head>

<body>
	<h1>Astro Component Tests</h1>
	<ul>
		<li><a href="/client-load">client:load</a></li>
		<li><a href="/client-idle">client:idle</a></li>
		<li><a href="/client-visible">client:visible</a></li>
		<li><a href="/client-media">client:media</a></li>
		<li><a href="/client-only">client:only</a></li>
	</ul>
</body>

</html>
